<ion-content [fullscreen]="true">
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>

  <ion-label class="welcomeMessage">
    <ion-text color="light">Bienvenido</ion-text> 
    <ion-text color="white">
      <p>Inicia Sesión!</p>
    </ion-text>
  </ion-label> 

  <form [formGroup]="form">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input 
          formControlName="email" 
          placeholder="Correo">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!form.get('email').valid && form.get('email').touched">
        <p class="error">*Porfavor Ingresa tu Correo </p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
          slot="end" 
          [color]="isTypePassword ? 'medium' : 'primary'">
        </ion-icon>
        <ion-input 
          formControlName="password" 
          [type]="isTypePassword ? 'password' : 'text'"
          placeholder="Contraseña">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!form.get('password').valid && form.get('password').touched">
        <p 
          class="error" 
          *ngIf="form.get('password').invalid && form.get('password').errors['required']">
          *Porfavor Ingresa tu Contraseña
        </p>
        <p 
          class="error" 
          *ngIf="form.get('password').dirty">
          *La contraseña debe contener 8 caracteres
        </p>
      </ion-text>

      <ion-row class="ion-margin-vertical">
        <ion-col size="6">
          <div align=left>
            <ion-note>Olvidaste tu contraseña?</ion-note>
          </div>
        </ion-col>
      </ion-row>
      <!--<ion-button color="primary" shape="round" (click)="onSubmit()">Log In</ion-button>-->
      <ion-button *ngIf="!isLogin" color="tertiary" shape="round" (click)="onSubmit()">Iniciar Sesión</ion-button>
      <ion-button fill="clear" *ngIf="isLogin">
        <ion-spinner name="crescent" color="tertiary"></ion-spinner>
      </ion-button>
      <p class="signup">
        <ion-note>
          No estas registrado?<ion-text routerLink="register" color="primary">Registrarse</ion-text>
        </ion-note>
      </p>
    </ion-list>
  </form>
</ion-content>