<ion-content [fullscreen]="true">
  <!--<ion-spinner color="danger" class="ion-text-center" name="crescent" *ngIf="isLoading"></ion-spinner>-->
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>

  <ion-label class="welcomeMessage">
    <ion-text color="light">Hola,</ion-text> 
    <ion-text color="white">
      <p>Registrate!</p>
    </ion-text>
  </ion-label> 

  <ion-icon 
    name="arrow-back-outline" 
    color="white"
    class="backButton"
    routerLink="/login">
  </ion-icon>

  <form [formGroup]="signupForm">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="person-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input 
          formControlName="username" 
          placeholder="Nombre de Usuario">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
        <p class="error">*Porfavor Ingresa tu Nombre de Usuario</p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon 
          name="mail-outline" slot="end" color="medium">
        </ion-icon>
        <ion-input 
          formControlName="email" 
          placeholder="Ingresa tu Correo">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
        <p class="error">*Porfavor Ingresa tu Correo </p>
      </ion-text>

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
          slot="end" 
          [color]="isTypePassword ? 'medium' : 'primary'">
        </ion-icon>
        <ion-input 
          formControlName="password" 
          [type]="isTypePassword ? 'password' : 'text'"
          placeholder="Contraseña">
        </ion-input>
      </ion-item>
      <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
        <p 
          class="error" 
          *ngIf="signupForm.get('password').invalid && signupForm.get('password').errors['required']">
          *Porfavor Ingresa tu Contraseña
        </p>
        <p 
          class="error" 
          *ngIf="signupForm.get('password').dirty">
          *Password must be of atleast 8 characters
        </p>
      </ion-text>

      <ion-row class="ion-margin-vertical">
        <ion-col size="12" class="alignItems">
          <div align=left>
            <a href="/notice-privacy">Revisa Nuestro Aviso de Privacidad</a>
          </div>
        </ion-col>
      </ion-row>
      <ion-button *ngIf="!isLoading" color="tertiary" shape="round" (click)="onSubmit()">Registrarse</ion-button>
      <ion-button fill="clear" *ngIf="isLoading">
        <ion-spinner name="crescent" color="tertiary"></ion-spinner>
      </ion-button>
    </ion-list>
  </form>
</ion-content>